<div>
	<br><h5><%= comment.author_name %></h5>
	<p class = "comment"><%= comment.body %></p>
	
	<!--shows you how long ago the comment was posted -->
	<i><p>
				Posted <%= distance_of_time_in_words(comment.created_at, Time.now ) %> ago...
	</p></i><br>
	
	<div align = "right">
<table style = "width: 10%"><td> </td></tr>
	<tr>
		<td><%= link_to "Delete Comment", [comment.article, comment], method: :delete, data: {confirm: "Delete Comment - Are you sure?"} %></td>
	</tr>
</table>
</div>
	
</div>

